.cropit-image-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 237px;
	height: 179px;
	cursor: move;
}

.cropit-image-background {
	opacity: .2;
	cursor: auto;
}

.image-size-label {
	margin-top: 10px;
}

imgform input {
	display: block;
}

.export {
	margin-top: 10px;
}

.custom-file-input {
	color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}

.custom-file-input::before {
  content: 'Select picture';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.slider {
  width: 237px;
  position:relative;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 180px;
  height: 7px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #eee;
  outline: none; /* no focus outline */
  display:inline;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background: #aaa;
}