.thprodname{
	position: absolute;
	bottom: 20px;
	left: 15px;
	color: white;
	/*text-shadow: 0 0 2px black;*/
	text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
	border-radius: 4px;
	background-image: url('/img/vignette-gradient.png');
	width: 235px;
	padding-left: 10px;
}

.thprodname h3{
	font-weight: bold;
	text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
}

.thbox{
	height: 177px;
	width: 235px;
	/*box-shadow: 0 0 15px black;*/
}