.navbar {
	margin-bottom: 0;
}

.bgproduct
{
	background: url('http://fc08.deviantart.net/fs44/f/2009/056/d/c/Wall_of_Televisions_by_Loops_Of_Fury.jpg') no-repeat center center;
	box-shadow: 0 -15px 15px 0px rgba(0,0,0,0.5) inset;
}

.titleproduct
{
	color: white;
	text-shadow: 0 0 2px black;
}

.imgproduct
{
	box-shadow: 0 0 15px black;
}
