.navbar {
	margin-bottom: 0;
}

.prodshadow
{
	background: url('/img/vignette-gradient-big.png') bottom;
	background-repeat: repeat-x;
}

.titleproduct
{
	color: white;
	text-shadow: 0 0 2px black;
}

.imgproduct
{
	box-shadow: 0 0 15px black;
}

.prodcontainer
{
	padding-bottom: 10px;
}
